/* ESTILOS GENERALES */

/*PALETA DE COLORES Y LETRA*/
:root {
    --primary-color: #205382;
    --secondary-color: #ffc107;
    --tertiary-color: #e8a713;
    --quaternary-color: #2874e7;
    --quinary-color: #6c757d;
    --senary-color: white;
    --septenary-color: black;
}

body{
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    color: white !important;  
}
/* FORMATO DE BOTON PRINCIPAL*/
.btn-bd-primary{
    --bs-btn-bg:var(--secondary-color);
    --bs-btn-color:var(--primary-color);
    --bs-btn-font-weight: 600;
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-color: var(--senary-color);
    --bs-btn-hover-bg: var(--tertiary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}

/* FORMATO GENERAL PARA TITULOS DE CARTAS */
.card-title{
    font-size: 20px;
}
/* -------------------------------------------------------------- */

/* SECCION DEL HEADER */

/* IMAGEN DEL HEADER*/
.img-header{
    width: 50vmax;
    border-radius: 25px;
    aspect-ratio: 1/1.2;
    object-fit: cover;
}

#button-events-training{
    background-color: transparent;
    color: var(--secondary-color);
}

#button-events-training:hover{
    background-color: var(--tertiary-color);
    color: var(--senary-color);
}

/* ESTILOS DE LA SECCION SOBRE LOS HUB*/
.bg-senary{
    background-color: var(--senary-color);
    color: var(--primary-color);
}

.img-about{
    width: 50vmax;
    border-radius: 25px;
}

.content-about-hub *{
    color: var(--primary-color);
}
/* -------------------------------------------------------------- */

/*ESTILOS DE NUESTRAS CATEGORÍAS DE APRENDIZAJE*/
.cards-cat *{
    color: var(--primary-color);
}

.card-cat{
    text-align: center;
    border-radius: 10px;
}

.card-cat p{
    --max-lines:3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
}

.card-cat h5{
    font-weight: bold;
}

.card-cat img{
    border-radius:10px ;
}
/* -------------------------------------------------------------- */

/*SECCION DE CAPACITACIONES*/

.nav-pills .nav-link{
    padding: 15px !important;
    margin-bottom: 10px;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    background: var(--senary-color);
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 10px;
}


.nav-pills .nav-link:hover{
    background: var(--secondary-color);
    color: var(--senary-color);
}

.nav-pills .nav-link.active{
    color: #fff;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: var(--primary-color);
}

.nav-pills .nav-link:after{
    position: absolute;
    top: 50%;
    bottom: 10px;
    right: -11px;
    width: 0;
    height: 0;
    margin-top: -10px;
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--primary-color);
    opacity: 0;
}

.nav-pills .nav-link.active:after{
    opacity: 1;
}

.events-training *{
    color: var(--primary-color);
}


.events-training .card{
    border: 3px var(--quinary-color) solid;
    height: 100%;
}

.events-training .card {
    position: relative;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}
.events-training .card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border: 3px solid var(--secondary-color);
    }
  
.events-training .card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}
  
.events-training .card:hover:before {
    transform: scale(2.15);
}
  /* -------------------------------------------------------------- */

  /* BOTON PARA IR ARRIBA */
  .button-up{
    width: 50px;
    height: 50px;
    background-color: var(--quaternary-color);
    border-radius: 50% ;
    position: fixed;
    bottom: 80px;
    right: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-out;
    z-index: 1050;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  

  .button-up:hover{
    transform: scale(1.1);
    background-color: var(--secondary-color);
    font-size: 22px;
    border: transparent;
  }
/* -------------------------------------------------------------- */
 

  
/* SECCION SOBRE CAPACITACIONES */
.highlight-text{
    border-radius: 10px;
    border: 1px var(--senary-color) solid;   
    color: var(--primary-color);
    background-color: var(--senary-color);
}
/* -------------------------------------------------------------- */

/* SECCION SOBRE QUE APRENDERAS */
.box-about-learn-1{
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-top-width: 0px;
    border-left-width: 0px ;
    border-radius: 0px;
}

.box-about-learn-2{
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-top-width: 0px;
    border-radius: 0px;
}


.box-about-learn-3{
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-top-width: 0px;
    border-right-width: 0px ; 
    border-radius: 0px;
}

.ufi {  /* Pseudo-elementos para ocultar las esquinas inferiores */
    position: relative;
  }

  .ufi::before,
  .ufi::after {
    content: "";
    position: absolute;
    width: 20px; /* Ajusta según el grosor del borde */
    height: 20px;
    background-color: white;
    border: solid white;
  }

  /* Esquina inferior izquierda */
  .ufi::before {
    bottom: -1px;
    left: -1px;
  }

  /* Esquina inferior derecha */
  .ufi::after {
    bottom: -1px;
    right: -1px;
  }
/* -------------------------------------------------------------- */

/* FOOTER */
.footer *{
    color: var(--senary-color);
}
.img-footer{
    width: 100%;
    height: 150px;
    background-image: url(assets/footer-a.jpg);
    background-position: bottom center;
    background-size: cover;
}


@media  screen and (max-width: 576px) and (min-width: 425px) {
    .img-logo{ /* Mantener un tamaño constante en pantallas pequeñas */
        max-width: 80%;
        min-width: 60%;
    }
    
}

@media screen and (max-width: 768px) {
    .nav-pills { /* Alinear horizontalmente en pantallas pequeñas */
        flex-direction: row !important; /* Cambia la dirección de columna a fila */
      }
      .nav-pills .nav-link {
        flex: 1; /* Permite que cada botón ocupe espacio igual */
        text-align: center; /* Centra el texto en cada botón */
        margin-left: 2px;
        margin-right: 2px;
      }
      .nav-pills .nav-link:after {
        top: auto; /* Restablece el valor de top */
        bottom: -10px; /* Coloca el pseudo-elemento en la parte inferior */
        right: 50%; /* Centra el triángulo horizontalmente */
        transform: translateX(50%); /* Ajusta el centrado */
        border-width: 10px 10px 0 10px; /* Cambia para que el triángulo apunte hacia arriba */
        border-color: var(--primary-color) transparent transparent transparent;
      }
    .button-up{ /* Hacer el tamaño del boton mas pequeño y espaciarlo adecuadamente en pantallas pequeñas */
        width: 44px; 
        height: 44px;
        right: 20px;
        bottom: 65px;
        font-size: 16px;
    }

    .box-about-learn-1, .box-about-learn-2, .box-about-learn-3{ /* Cambiar el borde de las cartas de "Sobre que aprenderas" en pantallas pequeñas */
        border: 1px var(--senary-color) solid;
        border-radius: 10px;
    }
    
  }
/* -------------------------------------------------------------- */
/* PAGINA DE REGISTRO */
/* body.minh-100{
    background-image: url(assets/bg-img-digital.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} */
.minh-100{
    min-height: 100vh;
}

.login{
    border-radius: 10px;
    background-color: var(--senary-color);
}
.login *{
    color: var(--primary-color);
}
.login .card{
    border-radius: 0px;

}

